*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Bebas Neue', cursive;
}

.container{
    max-width: 500px;
    margin: 0 auto;
    background: red;
    height: 100vh;
    background-image: url("https://c.tenor.com/4jDkHe9fEWAAAAAC/background.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile>img {
    width: 150px;
    height: 150px;
    border: 3px;
    border-radius: 100%;
}
.profile>p {
    font-size: 1.8em;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin-top: 5px;
}
.link{
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.link>a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    border: 3px solid #222;
    border-radius: 7px;
    background-color: #eaeaea;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.link>a:hover{
    background: azure;
}
.footer{
    text-align: center;
}
.footer>i {
    color: #eaeaea;
    font-size: 20px;
}